body{
    background-color: #4F6F52;
}

#logo{
    display: flex;
    justify-content: center;
    color: #D2E3C8;
}

#content-area, 
#controls{
    display: flex;
    justify-content: space-around;
}

#controls{
    flex-direction: column;
    background-color: #D2E3C8;
    border: solid #86A789;
    padding: 1rem;
    gap: 1rem;
}

.grid{
    border: solid #86A789 5px;
    padding: 1rem;
    background-color: #86A789;
}

#borderless{
    border: none;
    margin: 0;
}

.top-left{
    border-top: solid lightgray 1px;
    border-left: solid lightgray 1px;
    margin-top: -1px;
    margin-left: -1px;
}

.bottom{
    border-bottom: solid lightgray 1px;
    margin-bottom: -1px;
}

.right{
    border-right: solid lightgray 1px;
    margin-right: -1px;
}

.grid-wrapper {
    max-width: 600px;
    max-height: 600px;
    flex-grow: 0;
}

#on-button{
    color: #D2E3C8;
    background-color: #4F6F52;
}

button{
    background: none;
    color: #4F6F52;
    border: solid 1px #4F6F52;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.clear:active{    
    color: #D2E3C8;
    background-color: #4F6F52;
}

.color-wrapper{
    display: flex;
    align-items: center;
}

label{
    color: #4F6F52;
    font-weight: 700;
}

.pen-color,
.bg-color{
    height: 36px;
    overflow: hidden;
    border-radius: 2px;
    border: none;
    padding: 0;
    background: none;
}

